@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
}

h1{
  text-align: left;
}

p{
  margin-top: 10%;
  text-align: left;
}
li{
  margin-left: 8%;
}

.presentation{
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: absolute;
  width: 60%;
  height: 70%;
  padding-top: 5%;
  left: 20%;
  top: 10%;
  background: #E9E9E9;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}

.taskBar{
  box-sizing: border-box;
  border-bottom: 1px solid #777777;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  background-color: #E9E9E9;
  width: 60%;
  left: 20%;
  position: absolute;
  top: 80%;
  display: flex;
  justify-content: space-between;
}

button{
  margin: 10px;  
}
